@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/neue-montreal-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/neue-montreal-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    position: relative;
    overflow-x: clip;
    max-width: 100%;
  }

  /* Hide scrollbar visually while preserving scroll functionality */
  html {
    scrollbar-width: none; /* Firefox */
  }
  html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
}
